In [13]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [14]:
df = pd.read_csv(r"C:\Users\Toyosi\Documents\Training Montage\Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.csv")
df.head(5)

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [15]:
df.rename(columns= {"How old are you?": "Age Range", "What industry do you work in?": "Industry", "If your job title needs additional context, please clarify here:": "Job title context", "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)": "Salary", "How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.": "Monetary Compensation", "Please indicate the currency": "Currency", "What country do you work in?": "Work_Country", "If you're in the U.S., what state do you work in?": "Work_U.S-State", "What city do you work in?":"Work_City", "How many years of professional work experience do you have overall?": "Work_Exp_Overall", "How many years of professional work experience do you have in your field?": "Work_Exp_Field","What is your highest level of education completed?": "Highest_Lvl_Edu", "What is your gender?": "Gender", "What is your race? (Choose all that apply.)": "Race_All"}, inplace= True)
df.head(5)

,Timestamp,Age Range,Industry,Job title,Job title context,Salary,Monetary Compensation,Currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",Work_Country,Work_U.S-State,Work_City,Work_Exp_Overall,Work_Exp_Field,Highest_Lvl_Edu,Gender,Race_All
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [16]:
df["Work_Country"].unique()

array(['United States', 'United Kingdom', 'US', 'USA', 'Canada',
       'United Kingdom ', 'usa', 'UK', 'Scotland ', 'U.S.',
       'United States ', 'The Netherlands', 'Australia ', 'Spain', 'us',
       'Usa', 'England', 'finland', 'United States of America', 'France',
       'United states', 'Scotland', 'USA ', 'United states ', 'Germany',
       'UK ', 'united states', 'Ireland', 'India', 'Australia', 'Uk',
       'United States of America ', 'U.S. ', 'canada', 'Canada ', 'U.S>',
       'ISA', 'Argentina', 'Great Britain ', 'US ', 'United State',
       'U.S.A', 'Denmark', 'U.S.A.', 'America', 'Netherlands',
       'netherlands', 'England ', 'united states of america', 'Ireland ',
       'Switzerland', 'Netherlands ', 'Bermuda', 'Us',
       'The United States', 'United State of America', 'Germany ',
       'Malaysia', 'Mexico ', 'United Stated', 'South Africa ', 'Belgium',
       'Northern Ireland', 'u.s.', 'South Africa', 'UNITED STATES',
       'united States', 'Sweden', 'Hong Kong', 'Kuwait', 'Norway',
       'Sri lanka', 'Contracts', 'USA-- Virgin Islands', 'United Statws',
       'England/UK', 'U.S',
       "We don't get raises, we get quarterly bonuses, but they periodically asses income in the area you work, so I got a raise because a 3rd party assessment showed I was paid too little for the area we were located",
       'Unites States ', 'Usa ', 'U.S.A. ', 'England, UK.', 'Greece',
       'Japan', 'U. S. ', 'Britain ', 'United Sates', 'Japan ', 'Austria',
       'Brazil', 'Canada, Ottawa, ontario', 'Global', 'Sweden ',
       'United States of American ', 'FRANCE', 'Uniited States',
       'United Kingdom (England)',
       'Worldwide (based in US but short term trips aroudn the world)',
       'CANADA ', 'Canadw', 'Hungary', 'Luxembourg',
       'United Sates of America', 'ireland',
       'United States (I work from home and my clients are all over the US/Canada/PR',
       'Colombia', 'CANADA', 'Unted States', 'germany', 'United Statesp',
       'United Stattes', 'United Statea', 'United Kingdom.', 'Mexico',
       'New Zealand', 'Trinidad and Tobago', 'Unites States',
       'United Statees', 'United kingdom', 'Cayman Islands',
       'UNited States', 'Can',
       'I am located in Canada but I work for a company in the US',
       'United kingdom ', 'Uniyed states', 'Uniyes States',
       'United States of Americas', 'U.A.', 'Czech republic', 'Czechia',
       'Latvia', 'Finland', 'U. S.', 'Puerto Rico', 'US of A', 'Rwanda',
       'United States of america ', 'United Arab Emirates ',
       'Bangladesh ', 'Spain ', 'U.K. ', 'Romania', 'U.SA',
       'United Kindom', 'United Status', 'New Zealand ',
       'Currently finance', ' U.S.', 'Serbia', 'Philippines', 'Russia ',
       'Poland', 'UXZ', 'czech republic', 'England, UK', 'Turkey',
       'Canda', 'Puerto Rico ', 'Canada and USA', 'Catalonia',
       '$2,175.84/year is deducted for benefits', 'uk', 'France ',
       'Italy (South)', 'Jersey, Channel islands', 'Uk ', 'China',
       'Virginia', 'Afghanistan', 'Israel', 'U.s.', 'Great Britain',
       'U.s.a.', 'USS', 'Denmark ', 'Uniteed States',
       'New Zealand Aotearoa', 'U.K.', 'Hartford',
       'Japan, US Gov position', 'Csnada', 'United Stares', 'New zealand',
       'Mainland China', 'I.S.', 'UK (Northern Ireland)',
       'UK for U.S. company', ' US', 'Unites states ', 'NZ', 'Us ',
       'Hong Kong ', 'Taiwan', 'Canad', 'Unite States', 'australia',
       'The US', 'united states ', 'The Netherlands ', 'Cambodia',
       'United states of America ', 'Vietnam', 'Remote', 'Singapore',
       'South Korea', 'Czech Republic ', 'Thailand', 'Bangladesh',
       'Lithuania', 'Eritrea', 'Indonesia', 'Singapore ',
       'For the United States government, but posted overseas', 'IS',
       'Switzerland ', 'United Kingdomk', 'Italy', ' New Zealand', 'Cuba',
       'Slovenia', 'Australi', "Cote d'Ivoire", 'united kingdom',
       'From Romania, but for an US based company', 'Somalia',
       'Wales (United Kingdom)', 'England, Gb', 'Czech Republic',
       'UnitedStates', 'Sri Lanka', 'spain', 'Danmark',
       'U.K. (northern England)', 'U.K', 'NL', 'the Netherlands',
       'Nederland', 'Slovakia', 'United States of america', 'Portugal ',
       'England, United Kingdom', 'Sierra Leone', 'Englang',
       'United statew', 'UAE', 'Belgium ',
       'bonus based on meeting yearly goals set w/ my supervisor',
       'International ', 'The Bahamas ', 'Wales',
       "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission. ",
       'Costa Rica', ' United States', 'United Statues', 'Untied States',
       'USA (company is based in a US territory, I work remote)', 'Chile',
       'denmark', 'UK (England)', 'UK, remote', 'Scotland, UK', 'USAB',
       'Unitied States', 'Norway ', 'Qatar', 'United Sttes',
       'Remote (philippines)', 'Brazil ', 'Unites kingdom ',
       'South africa', 'Portugal', 'united stated',
       'United States Of America', 'Nigeria', 'Panamá',
       'Northern Ireland ', 'england', 'SWITZERLAND',
       'Austria, but I work remotely for a Dutch/British company',
       "I work for an US based company but I'm from Argentina.",
       'I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered. ',
       'Uniter Statez', 'U. S ', 'Congo', 'United states of America',
       'Uruguay', 'Pakistan', 'Brasil', 'USA tomorrow ', 'United Stateds',
       'n/a (remote from wherever I want)', 'singapore',
       'US govt employee overseas, country withheld', 'usa ', 'Malaysia ',
       'Uganda', 'Malta', 'Saudi Arabia', 'Bulgaria', 'Estonia',
       'Morocco', 'new zealand', 'Africa', 'Ecuador', 'Zimbabwe', 'Ghana',
       'San Francisco', 'Usat', '🇺🇸 ', 'Luxemburg', 'Unitef Stated', 'UA',
       'Wales, UK', 'United Stares ', 'Croatia ',
       'England, United Kingdom ', 'United STates', 'USaa', 'uSA',
       'South Korea ', 'The netherlands', 'Ukraine ', 'america',
       'switzerland', 'United States- Puerto Rico',
       'From New Zealand but on projects across APAC', 'Y', 'United y',
       'Wales (UK)', 'Isle of Man', 'Northern Ireland, United Kingdom',
       'europe', 'California ',
       'UK, but for globally fully remote company', 'Australian ',
       'México', 'Jamaica', 'uS', 'USD', 'the netherlands',
       "USA, but for foreign gov't", 'japan', 'Kenya', 'Jordan',
       'United Statss', 'ARGENTINA BUT MY ORG IS IN THAILAND',
       'United states of america', 'UsA',
       'I work for a UAE-based organization, though I am personally in the US.',
       'United  States', 'france', 'Aotearoa New Zealand', 'na', 'Policy',
       'Cyprus', 'hong konh', 'United States is America', 'Liechtenstein',
       'Company in Germany. I work from Pakistan.', 'croatia', 'Canadá',
       'ENGLAND', 'United States of American', 'U.S.A ', 'INDIA',
       'Bosnia and Herzegovina', 'NIGERIA', 'Poland ', 'pakistan',
       'Nigeria ', 'London', 'ss', 'dbfemf', 'ibdia', 'LOUTRELAND',
       'philippines', 'ff', 'Myanmar', 'Burma'], dtype=object)

In [90]:
df["Work_Country"] =df["Work_Country"].replace({'United States': 'US', 'United Kingdom': 'GB', 'USA': 'US', 'Canada': 'CA', 'United Kingdom ': 'GB','usa': 'US', 'Scotland ': 'GB',  'U.S.': 'US',
       'United States ': 'US', 'The Netherlands': 'NL', 'Australia ': 'AU', 'Spain': 'ES', 'us': 'US',
       'Usa': 'US', 'England': 'GB', 'finland': 'FI', 'United States of America': 'US', 'France': 'FR',
       'United states': 'US', 'Scotland': 'GB', 'USA ': 'US', 'United states ': 'US', 'Germany': 'DE',
       'UK ': 'GB', 'united states': 'US', 'Ireland': 'IE', 'India': 'IN', 'Australia': 'AU', 'Uk': 'GB',
       'United States of America ': 'US', 'U.S. ': 'US', 'canada': 'CA', 'Canada ': 'CA', 'U.S>': 'US',
       'ISA': 'US', 'Argentina': 'AR', 'Great Britain ': 'GB', 'US ': 'US', 'United State': 'US',
       'U.S.A': 'US', 'Denmark': 'DK', 'U.S.A.': 'US', 'America': 'US', 'Netherlands': 'NL',
       'netherlands': 'NL', 'England ': 'GB', 'united states of america': 'US', 'Ireland ': 'IE',
       'Switzerland': 'CH', 'Netherlands ': 'NL', 'Bermuda': 'BM', 'Us': 'US',
       'The United States': 'US', 'United State of America': 'US', 'Germany ': 'DE',
       'Malaysia': 'MY', 'Mexico ': 'MX', 'United Stated': 'US', 'South Africa ': 'ZA', 'Belgium': 'BE',
       'Northern Ireland': 'GB', 'u.s.': 'US', 'South Africa': 'ZA', 'UNITED STATES': 'US',
       'united States': 'US', 'Sweden': 'SE', 'Hong Kong': 'HK', 'Kuwait': 'KW', 'Norway': 'NO',
       'Sri lanka': 'LK', 'USA-- Virgin Islands': 'VI', 'United Statws': 'US',
       'England/UK': 'GB', 'U.S': 'US',
       'Unites States ': 'US', 'Usa ': 'US', 'U.S.A. ': 'US', 'England, UK.': 'GB', 'Greece': 'GR',
       'Japan': 'JP', 'U. S. ': 'US', 'Britain ': 'GB', 'United Sates': 'US', 'Japan ': 'JP', 'Austria': 'AT',
       'Brazil': 'BR', 'Canada, Ottawa, ontario': 'CA', 'Sweden ': 'SE',
       'United States of American ': 'US', 'FRANCE': 'FR', 'Uniited States': 'US',
       'United Kingdom (England)': 'GB',
       'Worldwide (based in US but short term trips aroudn the world)': 'Global',
       'CANADA ': 'CA', 'Canadw': 'CA', 'Hungary': 'HU', 'Luxembourg': 'LU',
       'United Sates of America': 'US', 'ireland': 'IE',
       'United States (I work from home and my clients are all over the US/Canada/PR': 'US',
       'Colombia': 'CO', 'CANADA': 'CA', 'Unted States': 'US', 'germany': 'DE', 'United Statesp': 'US',
       'United Stattes': 'US', 'United Statea': 'US', 'United Kingdom.': 'GB', 'Mexico': 'MX',
       'New Zealand': 'NZ', 'Trinidad and Tobago': 'TT', 'Unites States': 'US',
       'United Statees': 'US', 'United kingdom': 'GB', 'Cayman Islands': 'KY',
       'UNited States': 'US', 'Can': 'CA',
       'I am located in Canada but I work for a company in the US': 'US',
       'United kingdom ': 'GB', 'Uniyed states': 'US', 'Uniyes States': 'US',
       'United States of Americas': 'US', 'Czech republic': 'CZ', 'Czechia': 'CZ',
       'Latvia': 'LV', 'Finland': 'FI', 'U. S.': 'US', 'Puerto Rico': 'PR', 'US of A': 'US', 'Rwanda': 'RW',
       'United States of america ': 'US', 'United Arab Emirates ': 'AE',
       'Bangladesh ': 'BG', 'Spain ': 'ES', 'U.K. ': 'GB', 'Romania': 'RO', 'U.SA': 'US',
       'United Kindom': 'GB', 'United Status': 'US', 'New Zealand ': 'NZ', ' U.S.': 'US', 'Serbia': 'RS', 'Philippines': 'PH', 'Russia ': 'RU',
       'Poland': 'PL', 'czech republic': 'CZ', 'England, UK': 'GB', 'Turkey': 'TR',
       'Canda': 'CA', 'Puerto Rico ': 'PR', 'Canada and USA': 'CA', 'Catalonia': 'ES', 'uk': 'GB', 'France ': 'FR',
       'Italy (South)': 'IT', 'Jersey, Channel islands': 'JE', 'Uk ': 'GB', 'China': 'CN',
       'Virginia': 'US', 'Afghanistan': 'AF', 'Israel': 'IL', 'U.s.': 'US', 'Great Britain': 'GB',
       'U.s.a.': 'US', 'USS': 'US', 'Denmark ': 'DK', 'Uniteed States': 'US',
       'New Zealand Aotearoa': 'NZ', 'U.K.': 'GB', 'Hartford': 'GB',
       'Japan, US Gov position': 'US', 'Csnada': 'CA', 'United Stares': 'US', 'New zealand': 'NZ',
       'Mainland China': 'CN', 'I.S.': 'IS', 'UK (Northern Ireland)': 'GB',
       'UK for U.S. company': 'US', ' US': 'US', 'Unites states ': 'US', 'Us ': 'US',
       'Hong Kong ': 'HK', 'Taiwan': 'TW', 'Canad': 'CA', 'Unite States': 'US', 'australia': 'AU',
       'The US': 'US', 'united states ': 'US', 'The Netherlands ': 'NL', 'Cambodia': 'KH',
       'United states of America ': 'US', 'Vietnam': 'VN', 'Singapore': 'SG',
       'South Korea': 'KR', 'Czech Republic ': 'CZ', 'Thailand': 'TH', 'Bangladesh': 'BD',
       'Lithuania': 'LT', 'Eritrea': 'ER', 'Indonesia': 'ID', 'Singapore ': 'SG',
       'For the United States government, but posted overseas': 'US',
       'Switzerland ': 'CH', 'United Kingdomk': 'GB', 'Italy': 'IT', ' New Zealand': 'NZ', 'Cuba': 'CU',
       'Slovenia': 'SI', 'Australi': 'AU', "Cote d'Ivoire": 'CI', 'united kingdom': 'GB',
       'From Romania, but for an US based company': 'US', 'Somalia': 'SO',
       'Wales (United Kingdom)': 'GB', 'England, Gb': 'GB', 'Czech Republic': 'CZ',
       'UnitedStates': 'US', 'Sri Lanka': 'LK', 'spain': 'ES', 'Danmark': 'DK',
       'U.K. (northern England)': 'GB', 'U.K': 'GB', 'the Netherlands': 'NL',
       'Nederland': 'NL', 'Slovakia': 'SK', 'United States of america': 'US', 'Portugal ': 'PT',
       'England, United Kingdom': 'GB', 'Sierra Leone': 'SL', 'Englang': 'GB',
       'United statew': 'US', 'UAE': 'AE', 'Belgium ': 'BG',
       'International ': 'GLOBAL', 'The Bahamas ': 'BS', 'Wales': 'GB',
       'Costa Rica': 'CR', ' United States': 'US', 'United Statues': 'US', 'Untied States': 'US',
       'USA (company is based in a US territory, I work remote)': 'US', 'Chile': 'CL',
       'denmark': 'DK', 'UK (England)': 'GB', 'UK, remote': 'GB', 'Scotland, UK': 'GB',
       'Unitied States': 'US', 'Norway ': 'NO', 'Qatar': 'QA', 'United Sttes': 'US',
       'Remote (philippines)': 'PH', 'Brazil ': 'BR', 'Unites kingdom ': 'GB',
       'South africa': 'ZA', 'Portugal': 'PT', 'united stated':'US',
       'United States Of America': 'US', 'Nigeria': 'NG', 'Panamá': 'PA',
       'Northern Ireland ': 'GB', 'england': 'GB', 'SWITZERLAND': 'CH',
       'Austria, but I work remotely for a Dutch/British company': 'GB',
       "I work for an US based company but I'm from Argentina.": 'US',
       'Uniter Statez': 'US', 'U. S ': 'US', 'United states of America': 'US',
       'Uruguay': 'UY', 'Pakistan': 'PK', 'Brasil': 'BR', 'USA tomorrow ': 'US', 'United Stateds': 'US', 'singapore': 'SG', 'usa ': 'US', 'Malaysia ': 'MY',
       'Uganda': 'UG', 'Malta': 'MT', 'Saudi Arabia': 'SA', 'Bulgaria': 'BG', 'Estonia': 'EE',
       'Morocco': 'MA', 'new zealand': 'NZ', 'Ecuador': 'EC', 'Zimbabwe': 'ZW', 'Ghana': 'GH',
       'San Francisco': 'US', 'Usat': 'US', '🇺🇸 ': 'US', 'Luxemburg': 'LU', 'Unitef Stated': 'US',
       'Wales, UK': 'GB', 'United Stares ': 'US', 'Croatia ': 'HR',
       'England, United Kingdom ': 'GB', 'United STates': 'US', 'USaa': 'US', 'uSA': 'US',
       'South Korea ': 'KR', 'The netherlands': 'NL', 'Ukraine ': 'UA', 'america': 'US',
       'switzerland': 'CH', 'United States- Puerto Rico': 'US',
       'Wales (UK)': 'GB', 'Isle of Man': 'IM', 'Northern Ireland, United Kingdom': 'GB',
       'California ': 'US', 'Australian ':'AU', 'México': 'MX', 'Jamaica': 'JM', 'uS': 'US', 'USD': 'US', 'the netherlands': 'NL',
       'japan': 'JP', 'Kenya': 'KE', 'Jordan': 'JO',
       'United Statss': 'US', 'ARGENTINA BUT MY ORG IS IN THAILAND': 'TH',
       'United states of america': 'US', 'UsA': 'US',
       'I work for a UAE-based organization, though I am personally in the US.': 'AE',
       'United  States': 'US', 'france': 'FR', 'Aotearoa New Zealand': 'NZ',
       'Cyprus': 'CY', 'hong konh': 'HK', 'United States is America': 'US', 'Liechtenstein': 'LI',
       'Company in Germany. I work from Pakistan.': 'DE', 'croatia': 'HR', 'Canadá': 'CA',
       'ENGLAND': 'GB', 'United States of American': 'US', 'U.S.A ': 'US', 'INDIA': 'IN',
       'Bosnia and Herzegovina': 'BA', 'NIGERIA': 'NG', 'Poland ': 'PL', 'pakistan': 'PK',
       'Nigeria ': 'NG', 'London': 'GB',
       'philippines': 'PH', 'Myanmar': 'MM', 'Burma': 'MM', 'Currently finance': 'US', 
       "We don't get raises, we get quarterly bonuses, but they periodically asses income in the area you work, so I got a raise because a 3rd party assessment showed I was paid too little for the area we were located": 'US',
       '$2,175.84/year is deducted for benefits': 'CA', 'bonus based on meeting yearly goals set w/ my supervisor': 'US',
        "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission. ": 'US',
        'I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered. ': 'US',
        'US govt employee overseas, country withheld': 'US', 'From New Zealand but on projects across APAC': 'NZ', 'United y': 'US',
        'UK, but for globally fully remote company': 'GB', "USA, but for foreign gov't": 'US', 'na': 'US', 'Policy': 'CA', 'ss': 'US',
        'dbfemf': 'US', 'ibdia': 'GB', 'Contracts': 'US', 'U.A.': 'US', 'USAB': 'US', 'n/a (remote from wherever I want)': 'Remote',
        'europe': 'CZ', 'GLOBAL': 'Global', 'Congo': 'CG'})

In [91]:
df["Work_Country"].unique()

array(['US', 'GB', 'CA', 'UK', 'NL', 'AU', 'ES', 'FI', 'FR', 'DE', 'IE',
       'IN', 'AR', 'DK', 'CH', 'BM', 'MY', 'MX', 'ZA', 'BE', 'SE', 'HK',
       'KW', 'NO', 'LK', 'VI', 'GR', 'JP', 'AT', 'BR', 'Global', 'HU',
       'LU', 'CO', 'NZ', 'TT', 'KY', 'CZ', 'LV', 'PR', 'RW', 'AE', 'BG',
       'RO', 'RS', 'PH', 'RU', 'PL', 'UXZ', 'TR', 'IT', 'JE', 'CN', 'AF',
       'IL', 'IS', 'TW', 'KH', 'VN', 'Remote', 'SG', 'KR', 'TH', 'BD',
       'LT', 'ER', 'ID', 'CU', 'SI', 'CI', 'SO', 'SK', 'PT', 'SL', 'BS',
       'CR', 'CL', 'QA', 'NG', 'PA', 'CG', 'UY', 'PK', 'UG', 'MT', 'SA',
       'EE', 'MA', 'EC', 'ZW', 'GH', 'UA', 'HR', 'Y', 'IM', 'JM', 'KE',
       'JO', 'CY', 'LI', 'BA', 'MM'], dtype=object)

In [87]:
df.drop([18944, 28036, 28049], axis= 0, inplace= True)

In [92]:
df["Work_Country"].unique()

array(['US', 'GB', 'CA', 'UK', 'NL', 'AU', 'ES', 'FI', 'FR', 'DE', 'IE',
       'IN', 'AR', 'DK', 'CH', 'BM', 'MY', 'MX', 'ZA', 'BE', 'SE', 'HK',
       'KW', 'NO', 'LK', 'VI', 'GR', 'JP', 'AT', 'BR', 'Global', 'HU',
       'LU', 'CO', 'NZ', 'TT', 'KY', 'CZ', 'LV', 'PR', 'RW', 'AE', 'BG',
       'RO', 'RS', 'PH', 'RU', 'PL', 'UXZ', 'TR', 'IT', 'JE', 'CN', 'AF',
       'IL', 'IS', 'TW', 'KH', 'VN', 'Remote', 'SG', 'KR', 'TH', 'BD',
       'LT', 'ER', 'ID', 'CU', 'SI', 'CI', 'SO', 'SK', 'PT', 'SL', 'BS',
       'CR', 'CL', 'QA', 'NG', 'PA', 'CG', 'UY', 'PK', 'UG', 'MT', 'SA',
       'EE', 'MA', 'EC', 'ZW', 'GH', 'UA', 'HR', 'Y', 'IM', 'JM', 'KE',
       'JO', 'CY', 'LI', 'BA', 'MM'], dtype=object)

In [94]:
df[df['Job title'] == 'Intern']

,Timestamp,Age Range,Industry,Job title,Job title context,Salary,Monetary Compensation,Currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",Work_Country,Work_U.S-State,Work_City,Work_Exp_Overall,Work_Exp_Field,Highest_Lvl_Edu,Gender,Race_All
8704,4/27/2021 16:30:43,18-24,Engineering or Manufacturing,Intern,Research at a research university (ie pays low...,"55,120",0.0,CAD,NaN,NaN,CA,NaN,Calgary,1 year or less,1 year or less,College degree,Woman,White
8987,4/27/2021 17:01:08,under 18,Health care,Intern,NaN,"29,120",NaN,USD,NaN,NaN,US,Massachusetts,Boston,2 - 4 years,2 - 4 years,High School,Woman,Asian or Asian American
16801,4/28/2021 18:33:39,18-24,Engineering or Manufacturing,Intern,NaN,"23,920",NaN,USD,NaN,NaN,US,Iowa,Des Moines,2 - 4 years,1 year or less,College degree,Woman,White
26750,9/9/2021 12:39:15,18-24,Health care,Intern,NaN,30000,NaN,USD,NaN,NaN,US,Georgia,Lawrenceville,2 - 4 years,2 - 4 years,Some college,Man,White
27839,6/26/2022 12:13:46,18-24,Computing or Tech,Intern,NaN,62000,NaN,USD,NaN,NaN,US,Maryland,Laurel,2 - 4 years,1 year or less,Some college,Woman,White
28015,2/22/2024 7:27:47,18-24,Computing or Tech,Intern,nhi,0,0.0,GBP,hhv,hvhv,GB,NaN,pubw,1 year or less,1 year or less,NaN,Woman,Black or African American